<!DOCTYPE html>
<html>
    <head>
        <title>Pages</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Some Paginated Numbers:</h1>
        {% for num in nums %}
            <span>{{ num }}</span>&nbsp
        {% endfor %}

        {% if nums.has_other_pages %}
        <ul class="pagination">
            {% if nums.has_previous %}
            <li><a href="?page={{ letters.previous_page_number }}">&laquo;</a></li>&nbsp
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>&nbsp
            {% endif %}
            {% for i in nums.paginator.page_range %}
            {% if nums.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>&nbsp
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>&nbsp
            {% endif %}
            {% endfor %}
            {% if nums.has_next %}
            <li><a href="?page={{ letters.next_page_number }}">&raquo;</a></li>&nbsp
            {% else %}
            &nbsp<li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </body>
</html>